* {
    margin: 0;
    padding: 0;
}

html {
    align-content: center;
    margin-left: 150px;
    margin-right: 150px;
}

body {
    background-color: lightgrey;
    height: 200px;
    max-width: 1000px;
    margin: 10px 20px 10px 20px;
    /* padding: 60px 100px 60px 100px; */
    border: 2px solid darkblue;
    display: inline-block;
    /* align-content: center; */
    /* display: inline; */
    /* align-content: center; */
    /* align-items: center; */
    /* vertical-align: middle; */
    /* text-align: center; */
}

header {
    background-color: lightcoral;
    border: 2px solid darkred;
    height: 80px;
    width: 800px;
    margin: 60px 100px 60px 100px;
    /* text-align: center; */
    align-content: center;
    
}

p {
    background-color:azure;
    border: 1px solid black;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

h4 {
    background-color:azure;
    border: 1px solid black;
    display: inline-block;
    margin-left: 360px;
    margin-right: 40px;
}

